* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.btn {
    border-radius: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
}
